<h2>FIXTURES</h2>
<div class="">
  <ul>
    {{#each data}}
    <li>
      <a href="/fixtures/{{id}}">
        <h3>OPPOSITION: {{opposition}} GROUND: {{ground}} DATE: {{date}}</h3>
      </a>
    </li>
    {{/each}}
  </ul>
</div>
