<div class="">
  <ul>
    {{#each fixture}}
    <li>
      <a href="#">
        <h3>OPPOSITION: {{opposition}} GROUND: {{ground}} DATE: {{date}}</h3>
      </a>
    </li>
    {{/each}}
  </ul>
</div>
