<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/squad">SQUAD LIST</a>
<a href="/fixtures">FIXTURES</a>
<a href="/addFixture">ADD FIXTURE</a>
<a href="/addResult">ADD RESULT</a>
<a href="/inputBatting">ADD BATTING CARD</a>
<a href="/inputBowling">ADD BOWLING CARD</a>
<a href="/inputFielding">ADD FIELDING CARD</a>
<a href="/addPlayer">ADD NEW PLAYER</a>
