<img src="" alt="" id='playerImg'/>

<div class="playerInfo">
  <h3>Name: {{name}}</h3>
  <h3>{{batStyle}}</h3>
  <h3>{{bowlStyle}}</h3>
</div>

<div class="playerStats">

<h3>BATTING</h3>
<table>
  <tr>
    <th></th>
    <th>INNS</th>
    <th>RUNS</th>
    <th>AVG</th>
    <th>N/O</th>
    <th>4's</th>
    <th>6's</th>
    <th>HS</th>
  </tr>
  <tr>
    <th>2016</th>
  </tr>
</table>

<h3>BOWLING</h3>
<table>
  <tr>
    <th></th>
    <th>OVERS</th>
    <th>MAIDENS</th>
    <th>WICKETS</th>
    <th>RUNS</th>
    <th>WIDES</th>
    <th>NO BALLS</th>
    <th>BBI</th>
  </tr>
  <tr>
    <th>2016</th>
  </tr>
</table>

<h3>FIELDING</h3>
<table>
  <tr>
    <th></th>
    <th>CATCHES</th>
    <th>RUN OUTS</th>
    <th>STUMPINGS</th>
  </tr>
  <tr>
    <th>2016</th>
  </tr>
</table>
