<div class="">
  <h3>SQUAD LIST</h3>
</div>

<div class="">
  {{#each squadData}} <!--player = placeholder -->
  <ul>
    <li><a href="#">{{firstName}} {{lastName}}</a></li>
  </ul>
  {{/each}}
</div>
